.contenedor-formulario-pedido{
    /* border-right: 1px solid #000000; */
    padding: 1px;
}
.formulario-pedido {
    max-width: 400px;
    padding: 16px;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    border-color: black;
    border-style: solid;
    border-width: 2px;
  }
  
  .formulario-pedido input,
  .formulario-pedido select,
  .formulario-pedido textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .formulario-pedido button {
    background-color: rgb(54, 141, 97);
    width: 100%;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-color: black;
    border-style: solid;
    border-width: 2px;
  }

  .boton-x{
    background-color: rgb(188, 48, 48) !important;
    width: auto !important; 
    color: white;
    padding: 5px !important;
    font-size: 12px !important;
    margin-left: 10px !important;
    border: none;
    border-radius: 0px !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .formulario-pedido button:hover {
    background-color: rgb(17, 101, 59);
  }

  .contenedor-agregar-productos{
    background-color: #b1c5b1;
    padding: 10px;
    border-radius: 5px;

    border-color: black;
    border-style: solid;
    border-width: 2px;
  }
  .contenedor-agregar-productos button{
    background-color: #faac2e;
    border-color: black;
    border-style: solid;
    border-width: 2px;
  }