/* src/components/PedidoCard.css */
.pedido-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 400px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    -ms-flex-align: stretch;
    
    overflow-wrap: break-word; /* Rompe palabras largas */
    word-wrap: break-word;     /* Compatibilidad vieja */
    word-break: break-word;
    white-space: normal;       /* Permite saltos de línea */
  }

  .pedido-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  
  /* Colores según estado */
  .pedido-card.pendiente {
    background-color: #ece277; /* naranja claro */
  }
  
  .pedido-card.entregado {
    background-color: #8cf1a3; /* verde claro */
  }
  
  .pedido-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .pedido-card p {
    margin: 4px 0;
    color: #333;
  }

  .btn-eliminar {
    background-color: #611b03;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-eliminar:hover {
    background-color: #b71e06;
  }